doctype 5
html

  head
    title = title 

    // CSS
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content

    // JS
    script(src='/javascripts/jquery-1.9.0.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/javascripts/soleilsun.js')